<div class="absolute w-full h-full hidden sm:block">
  <figure class="absolute w-52 sm:w-56 md:w-60 lg:w-96 left-0 bottom-0">
    <img
      class="w-full h-full"
      src="/assets/svg/login-bg-left.svg"
      alt="background left"
      loading="lazy"
    />
  </figure>
  <figure class="absolute w-52 sm:w-56 md:w-60 lg:w-96 right-0 bottom-0">
    <img
      class="w-full h-full"
      src="/assets/svg/login-bg-rigth.svg"
      alt="background left"
      loading="lazy"
    />
  </figure>
</div>
