<section class="flex flex-col w-full h-full bg-sky-600 px-4 pb-4">
  <h2 class="text-xl font-bold text-white my-4">{{ board?.title }}</h2>
  <section
    class="flex grow items-start w-full h-full min-h-[20rem] overflow-x-scroll"
    cdkDropListGroup
  >
    <article
      *ngFor="let list of board?.lists"
      class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0"
    >
      <header class="flex justify-between py-1">
        <h3 class="text-sm font-bold ml-2">{{ list.title }}</h3>
      </header>
      <ul
        class="text-sm mt-2 min-h-[2.5rem]"
        cdkDropList
        (cdkDropListDropped)="dropTodo($event)"
        [cdkDropListData]="list.cards"
        [id]="list.id.toString()"
      >
        <li
          *ngFor="let card of list.cards"
          class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          cdkDrag
          (click)="openTodoModal(list.title, card)"
        >
          {{ card.title }}
        </li>
      </ul>
      <ul class="mt-5">
        <li *ngIf="!list.showCardForm">
          <app-button
            [color]="'gray-light'"
            [type]="'button'"
            (click)="openCardForm(list)"
          >
            Add Card
          </app-button>
        </li>
        <li
          *ngIf="list.showCardForm"
          class="w-full"
        >
          <textarea
            class="w-full rounded text-xs border-b-gray-400 border-b-2"
            [formControl]="inputCardTitle"
            placeholder="Enter a title for this card"
          ></textarea>
          <div class="flex gap-2">
            <app-button
              [color]="'primary'"
              [type]="'button'"
              (click)="createCard(list)"
              >
                Create
              </app-button>
              <app-button
                [color]="'gray-light'"
                [type]="'button'"
                (click)="closeCardForm(list)"
              >
                <fa-icon [icon]="faClose"></fa-icon>
              </app-button>
          </div>
        </li>
      </ul>
    </article>
    <article class="shrink-0">
      <app-button
        *ngIf="!showListForm"
        [color]="'gray-light'"
        [type]="'button'"
        (click)="showListForm = !showListForm"
      >
        Add Column
      </app-button>
      <section
          *ngIf="showListForm"
          class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0"
        >
          <textarea
            class="w-full rounded text-xs border-b-gray-400 border-b-2"
            [formControl]="inputListTitle"
            placeholder="Enter a title for this list"
          ></textarea>
          <div class="flex gap-2">
            <app-button
              [color]="'primary'"
              [type]="'button'"
              (click)="addList()"
              >
                Create
              </app-button>
              <app-button
                [color]="'gray-light'"
                [type]="'button'"
                (click)="showListForm = !showListForm"
              >
                <fa-icon [icon]="faClose"></fa-icon>
              </app-button>
          </div>
        </section>
    </article>
  </section>
</section>
