<section class="flex flex-col w-full h-full bg-sky-600 px-4 pb-4">
  <h2 class="text-xl font-bold text-white my-4">{{ board?.title }}</h2>
  <section
    class="flex grow items-start w-full h-full min-h-[20rem] overflow-x-scroll"
    cdkDropListGroup
  >
    <article
      *ngFor="let list of board?.lists"
      class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0"
    >
      <header class="flex justify-between py-1">
        <h3 class="text-sm font-bold ml-2">{{ list.title }}</h3>
      </header>
      <ul
        class="text-sm mt-2 min-h-[2.5rem]"
        cdkDropList
        (cdkDropListDropped)="dropTodo($event)"
        [cdkDropListData]="list.cards"
        [id]="list.id"
      >
        <li
          *ngFor="let card of list.cards"
          class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          cdkDrag
          (click)="openTodoModal(list.title, card)"
        >
          {{ card.title }}
        </li>
      </ul>
    </article>
    <app-button
      class="shrink-0"
      [color]="'gray-light'"
      [type]="'button'"
      (click)="addColumn()"
    >
      Add Column
    </app-button>
  </section>
</section>
