<section class="p-6 bg-gray-100 relative rounded shadow">
  <button
    class="absolute top-3 right-3 focus:outline-none p-2"
    type="button"
    (click)="close()"
  >
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <header class="flex space-x-2 mb-5">
    <fa-icon class="text-gray-800" [icon]="faCheckToSlot"></fa-icon>
    <div class="flex flex-col">
      <h3 class="text-lg font-semibold text-gray-800">{{ inputData.todo.title }}</h3>
      <p class="text-sm text-gray-500">in list {{ inputData.column }}</p>
    </div>
  </header>
  <section class="flex w-full gap-4">
    <section class="flex space-x-2 mb-5 w-4/6">
      <fa-icon [icon]="faBars"></fa-icon>
      <div class="flex-col">
        <h3 class="text-lg font-semibold text-gray-800">Description</h3>
        <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ab placeat minima, id illum saepe nulla cumque, repudiandae porro a voluptatibus nobis ex reprehenderit.</p>
      </div>
    </section>
    <aside class="flex flex-col flex-auto space-y-2">
      <app-button [type]="'button'" [color]="'gray-light'">
        <fa-icon [icon]="faUser" class="text-gray-800"></fa-icon> Members
      </app-button>
      <app-button [type]="'button'" [color]="'gray-light'">
        <fa-icon [icon]="faTag" class="text-gray-800"></fa-icon> Labels
      </app-button>
      <app-button [type]="'button'" [color]="'gray-light'">
        <fa-icon [icon]="faCheckSquare" class="text-gray-800"></fa-icon> Checklist
      </app-button>
      <app-button [type]="'button'" [color]="'gray-light'">
        <fa-icon [icon]="faClock" class="text-gray-800"></fa-icon> Dates
      </app-button>
    </aside>
  </section>
</section>
