<form
  *ngIf="!emailSent"
  class="space-y-4"
  [formGroup]="form"
  novalidate
  (ngSubmit)="sendLink()"
>
  <div>
    <div class="relative">
      <label
        class="block text-xs font-semibold my-2"
        for="email"
      >
        We'll send a recovery link to
      </label>
      <input
        formControlName="email"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
        name="email"
        type="email"
        placeholder="Enter email"
      />
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be a email
      </p>
    </div>
  </div>
  <div>
    <app-button
      [color]="'success'"
      [type]="'submit'"
    >
      Send Recovery Link
    </app-button>
  </div>
</form>
<section *ngIf="emailSent">
  <figure class="flex justify-center py-4 w-40">
    <img
      class="w-full h-full"
      src="/assets/svg/check-email.svg"
      alt="check email"
      loading="lazy"
    />
  </figure>
  <p>We sent a recovery link to you at</p>
  <p class="font-bold">{{ form.controls.email.value }}</p>
</section>
