<form
  [formGroup]="form"
  class="space-y-4"
  novalidate
  (ngSubmit)="recovery()"
>
  <div>
    <div class="relative">
      <input
        formControlName="password"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter new password"
      />
      <button
        class="p-2 absolute right-2"
        type="button"
        (click)="showPassword = !showPassword"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <p
        *ngIf="form.controls.password.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.password.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be greater than 8 characters
      </p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        formControlName="confirmPassword"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Confirm password"
      >
    </div>
    <div *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid">
      <p
        *ngIf="form.controls.confirmPassword.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
    </div>
  </div>
  <div *ngIf="form.controls.confirmPassword.touched">
    <p
      *ngIf="form.hasError('mismatch')"
      class="font-medium text-red-500 text-xs mt-1 ml-1"
    >
      The password are not the same
    </p>
  </div>
  <div>
    <app-button
      [color]="'success'"
      [type]="'submit'"
      [loading]="status === 'loading'"
    >
      Recovery
    </app-button>
  </div>
</form>
