<form novalidate class="space-y-4">
  <div class="relative">
    <input
      class="w-full rounded bg-gray-100 border-2 border-gray-300"
      type="email"
      placeholder="Enter email"
    />
  </div>
  <div class="relative">
    <input
      class="w-full rounded bg-gray-100 border-2 border-gray-300"
      type="password"
      placeholder="Enter password"
    />
  </div>
  <div>
    <app-button
      [color]="'success'"
      [type]="'submit'"
    >
      Log In
    </app-button>
  </div>
</form>
